@font-face {
    font-family: "Inter";
    src: url("assets/fonts/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("assets/fonts/static/Inter-Bold.ttf")
}

@font-face {
    font-family: "Inter Extra Bold";
    src: url("assets/fonts/static/Inter-ExtraBold.ttf");
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Inter";
    font-weight: 400;
}

